.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  background-image: url(../../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  padding-top: 8em;
  padding-bottom: 4em;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  margin: 0 auto;
  padding: 20px;
  background-color: hsla(0, 100%, 98%, 0.779);
  border-radius: 5px;
  padding: 2em 5em 3em 5em;
  border-radius: 1em;
  box-shadow: 1px 0px 31px 5px rgba(0, 0, 0, 0.4);
}
.form h1 {
  align-self: center;
}
.form p {
  color: red;
}

.label {
  display: block;
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: bold;
}

.input[type="text"],
.input[type="number"],
.select[multiple] {
  margin-top: 1em;
  height: 3em;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.select[multiple] {
  height: 120px;
}

.imageLabel {
  margin-bottom: 2em;
  margin-top: 2em;
  font-weight: bold;
  font-size: 1.2em;
}
.btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  margin-top: 2em;
}

.btn {
  background-color: #1eb43c;
  border-radius: 29px;
  border: 1px solid #1eb43c;
  color: white;
  font-size: 15px;
  padding: 10px 45px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #126f25;
  color: white;
  border-color: #126f25;
  transition: 0.3s;
}
.btn2 {
  background-color: #c52838;
  border-radius: 29px;
  border: 1px solid #c52838;
  color: black;
  font-size: 15px;
  padding: 10px 45px;
  cursor: pointer;
  transition: 0.3s;
}

.btn2:hover {
  background-color: #901c28;
  color: #000000;
  border-color: #901c28;
  transition: 0.3s;
}

.typeLabel {
  font-size: 1.2em;
  border-radius: 10%;
  padding: 0.5em 0.5em;
}
.imagePreview {
  max-width: 100%;
  max-height: 200px;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3em;
  column-gap: 1em;
  height: auto;
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  border-style: none;
  font-size: 1em;
  font-weight: bold;
}
.imputA {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col {
  width: 48%;
}
.col2 {
  width: 48%;
}

@media (max-width: 1074px) {
  .form {
    width: 90vw;
    padding: 2em;
  }
}
